body {
  background-color: #eee;
  font-family: 'Source Sans Pro', sans-serif; }

h1 {
  text-align: center; }

a {
  text-decoration: none; }

img {
  display: block;
  height: 200px; }

#react-root {
  max-width: 800px;
  margin: 0 auto; }

#redux-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.redux-example {
  width: 50%; }
