body {
    background-color: #eee;
    font-family: 'Source Sans Pro', sans-serif;

}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

#react-root {
    max-width: 800px;
    margin: 0 auto;
}